SECRET_KEY=
DEBUG=False
ALLOWED_HOSTS=localhost 127.0.0.1 [::1] api
SENTRY_DSN=

POSTGRES_ENGINE=django.db.backends.postgresql
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=vpn-dion
PG_HOST=localhost
PG_PORT=5436
SIGNING_KEY=


BOT_TOKEN=
YOOMONEY_PROVIDER_TOKEN=
VPN_REST_HTTPS=
VPN_REST=http://localhost:5070
VPN_BEARER_TOKEN=
BOT_USER_NAME=

MONGODB_DATABASE=vpn_bot_db
MONGODB_USERNAME=
MONGODB_PASSWORD=
MONGODB_HOSTNAME=localhost
MONGODB_PORT=27017

FREE_KASSA_MERCHANT_ID=
FREE_KASSA_SECRET=