.mainDivStyle{
    width: 45%;
    height: 700px;
    border: 1px solid rgb(255, 245, 245);
    box-shadow: 0 0 3px;
margin-left: 26.5%;
margin-top: 2.5%;
}
.pageDivStyle{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: left;
    color: black;
    font-size: 230%;
    margin-top: 2%;
    text-align: center;
}
.plashTariffDivStyle{
    width: 85%;
    height: 32%;
    background-color: rgb(211, 219, 255);
    margin-left: 7%;
    margin-top: 5%;
    border-radius: 15px;
}
.labelTariffStyle{
   z-index: 1;
   margin-top: -6%;
    margin-left: 15%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 90%;
    width: 75%;
}
.checkboxTariffStyle{
    margin-top: 6%;
   margin-left: 8%;
    z-index: 2;
    cursor: pointer;
}
.buttonTatiffPaySty{
  width: 85%;
  height: 7%;
  padding-top: 2%;
  background-color: rgb(174, 190, 243);
  margin-top: 5%;
  margin-left: 7%;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  color: white;
  vertical-align: middle;
}
.plashPriceTariffDivStyle{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-weight: bold;
    font-size: 130%;
    padding-top: 5%;
    margin-left: 8%;
    display: inline-block;
}
.plashDevicesTariffDivStyle{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(3, 79, 145);
    font-weight: bold;
    font-size: 100%;
    display: inline-block;
    margin-left: 8%;
}
.plashDiscountTariffDivStyle{
    width: 20%;
    height: 15%;
    padding-top: 1%;
    background-color: red;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    border-radius: 7px;
    margin-left: 83%;
    margin-top: -8%;
}
.plashMonthTariffDivStyle{
    font-weight: bold;
    font-size: 300%;
    margin-top: 3%;
    margin-left: 7%;
    color: rgb(0, 0, 247);
}
.plashMonthTextTariffDivStyle{
    margin-left: 7%;
    color: rgb(0, 0, 247);
    font-size: 120%;
}


@media all and (max-width: 500px){
    .mainDivStyle{
        width: 80%;
        height: 700px;
        border: 1px solid rgb(255, 245, 245);
        box-shadow: 0 0 3px;
    margin-left: 5%;
    margin-top: 2.5%;
    }
    .plashDiscountTariffDivStyle{
        width: 20%;
        height: 13%;
        padding-top: 1%;
        background-color: red;
        color: white;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        text-align: center;
        border-radius: 7px;
        margin-left: 83%;
        margin-top: -8%;
    }
    .pageDivStyle{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        text-align: left;
        color: black;
        font-size: 190%;
        margin-top: 2%;
        text-align: center;
        margin-left: 15%;
        width: 70%;
    }
    .buttonTatiffPaySty{
        width: 85%;
        height: 5.5%;
        padding-top: 2%;
        background-color: rgb(174, 190, 243);
        margin-top: 5%;
        margin-left: 7%;
        cursor: pointer;
        border-radius: 10px;
        text-align: center;
        color: white;
        vertical-align: middle;
      }
}
@media screen and (max-width: 2500px){
    .plashDiscountTariffDivStyle{
        width: 20%;
        height: 16%;
        padding-top: 1%;
        background-color: red;
        color: white;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        text-align: center;
        border-radius: 7px;
        margin-left: 83%;
        margin-top: -8%;
    }
    .plashDevicesTariffDivStyle{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(3, 79, 145);
        font-weight: bold;
        font-size: 100%;
        display: inline-block;
        margin-left: 8%;
        margin-top: 2%;
    }

}