// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Montserrat";
$fontSize: 16px;

@import "base/icon-fonts";

// vers 2
$background: #000;
$mainColor: #fff;
$mainBackground: #1390d8; // D44343
$additionMainBackground: #D44343;
$cardBackground:#223744d4; // fedcdb91 
$boldCardText: #2fb1fd; //02508e
$payBtn: #08a161; //#00c271
$selectBackground: #333;

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
$maxWidth: 480px;
$containerPadding: 15px;


// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";
@import "base/null";

body {
	width: 100%;
	height: 100%;
	background-color: $background;
	.lock & {
		overflow: hidden;
		touch-action: none;
	}
	.loaded & {
	}
}
// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding: 0 0 40px 0;
	> .main {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
	}
	> * {
		min-width: 0;
	}
}

[class*="__container"] {
	margin: 0 auto;
	max-width: $maxWidth;
	padding: 0 $containerPadding;
}
