.controls {
	width: 100%;
	&__container {
		overflow: auto;
		gap: 10px;
		display: flex;
		min-height: 80px;
		align-items: center;
		a {
			display: flex;
			align-items: center;
			gap: 10px;
			cursor: default;
			user-select: none;
			@media (any-hover: hover){
				cursor: pointer;
			}
			&.hidden {
				display: none;
			}
			&:not(:last-child) {
				&:after {
					content: ">";
				}
			}
		}
	}
	&__item {
		@media (any-hover: hover){
			&:hover{
				cursor: pointer;
			}
		}
		// &.only-payment {
		// 	span {
		// 		display: none;
		// 	}
		// }
		//position: relative;
	}
}