<!DOCTYPE html>
{% load static %}
    <html lang="en">
        <head>
            <title>Table</title>
            <meta charset="UTF-8">
                <meta name="viewport" content="width=1170, initial-scale=1.0">
                <link rel="stylesheet" type="text/css" href="{% static 'css/style_table.css' %}"/>
        </head>
           <style>
              body{
                min-width: 1170px;
                background-color: rgb(250, 249, 249);
              }
           </style>
               <body>
                     <header>
                        <div>
                            <p id="head-page">Servers</p>
                        </div>
                             <div class="subhead-page">
                                <p>InstanceName</p>
                             </div>
                             <div class="subhead-page">
                                <p>IP</p>
                             </div>
                             <div class="subhead-page">
                                <p>RAM</p>
                             </div>
                             <div class="subhead-page">
                                <p>CPU</p>
                             </div>
                             <div class="subhead-page">
                                <p>Network Upload</p>
                             </div>
                             <div class="subhead-page">
                                <p>Network Download</p>
                             </div>
                             <div class="subhead-page">
                                <p>Network Total</p>
                             </div>


                            <div class="blocks">
                                <div class="table-block">
                                    <div class="div-sup_one">
                                       <p class="page-info">Text</p>
                                    </div>
                                    <div class="div-sup_two">
                                        <p class="page-info">Text</p>
                                    </div>
                                    <div class="div-sup_three">
                                        <p class="page-info">Text</p>
                                    </div>
                                    <div class="div-sup_four">
                                        <p class="page-info">Text</p>
                                    </div>
                                    <div class="div-sup_five">
                                        <p class="page-info">Text</p>
                                    </div>
                                    <div class="div-sup_six">
                                        <p class="page-info">Text</p>
                                    </div>
                                    <div class="div-sup_seven">
                                        <p class="page-info">Text</p>
                                    </div>
                                </div>
                                <div class="table-block">
                                    <div class="div-sup_one">
                                        <p class="page-info">Text</p>
                                     </div>
                                     <div class="div-sup_two">
                                         <p class="page-info">Text</p>
                                     </div>
                                     <div class="div-sup_three">
                                         <p class="page-info">Text</p>
                                     </div>
                                     <div class="div-sup_four">
                                         <p class="page-info">Text</p>
                                     </div>
                                     <div class="div-sup_five">
                                         <p class="page-info">Text</p>
                                     </div>
                                     <div class="div-sup_six">
                                         <p class="page-info">Text</p>
                                     </div>
                                     <div class="div-sup_seven">
                                         <p class="page-info">Text</p>
                                     </div>
                                </div>
                            </div>


                     </header>
                     <main></main>
                     <footer></footer>
                                </body>
                                    <script></script>
                                        <script src="{% static 'scripts/script_table.js' %}"></script>
                                            <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

                </body>
    </html>